aiocontextvars==0.2.1
aiofiles==0.4.0
asyncpg==0.18.2
gino==0.8.1
httptools==0.0.11
multidict==4.5.2
sanic==18.12.0
Sanic-Cors==0.9.7
Sanic-Plugins-Framework==0.6.5
SQLAlchemy==1.2.15
websockets==6.0
